html,
body,
header,
.view {
  height: 90vh;
}


h1 {
    text-align: center;
    height: 250px; 
letter-spacing: 10px;
color: white;
}

h6 {
letter-spacing: 3px;
color: white;
}

.hr-light {
border-top: 1px solid #fff;
width: 500px;
}
